{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form/style.css' %}">
    <title>Summary</title>
</head>

<body>
    <div class="container">
        <div class="text">Professional Summary</div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="input-data textarea">
                    <!-- <textarea type="text" name="summary" id="" required></textarea> -->
                    {{form.summary}}
                    <div class="underline"></div>
                    <label for="summary">Summary</label>
                </div>
            </div>

            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="save">
                </div>
            </div>

            <div class="form-row btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <a href="{% url 'personalInfo' %}">Previous</a>
                </div>
                <div class="input-data">
                    <div class="inner"></div>
                    <a href="{% url 'employmentInfo' %}">Next</a>
                </div>
            </div>
        </form>
    </div>

</body>

</html>